<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.1/clipboard.min.js" integrity="sha256-hIvIxeqhGZF+VVeM55k0mJvWpQ6gTkWk3Emc+NmowYA="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/domready/1.0.8/ready.min.js" integrity="sha256-z7v8HmIeZylwLaPn0X0Ym8dFyV0vkFVe4BkVW/iuwmQ="
  crossorigin="anonymous"></script>
<script src="https://cdn.rawgit.com/xcash/bootstrap-autocomplete/v2.0.0/dist/latest/bootstrap-autocomplete.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.6.2/mousetrap.min.js" integrity="sha256-fHzjsajIgwWDvn3rf3b1IxdXX4PoIml763//KcQaA44="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/humanize-plus/1.8.2/humanize.min.js" integrity="sha256-Z40lwCDUZWoaLrFMV5A3UDn5/yBaPotFU5RFnvLEbf8="
  crossorigin="anonymous"></script>

<script>
  var battlesnake = {}

  /**
   * ClipboardJS integration on buttons
   */
  $('[data-clipboard-text]').tooltip({
    trigger: 'click',
    placement: 'top'
  })

  battlesnake.setTooltip = function (triggerElem, message) {
    $(triggerElem)
      .tooltip('dispose')
      .attr('data-original-title', message)
      .tooltip('show')
  }

  battlesnake.hideTooltip = function () {
    setTimeout(function () {
      // Blanket-hide all
      $('[data-clipboard-text]').tooltip('dispose')
    }, 1000)
  }

  var clipboard = new ClipboardJS('[data-clipboard-text]')

  clipboard.on('success', function (event) {
    battlesnake.setTooltip(event.trigger, 'Copied!')
    battlesnake.hideTooltip()
  })

  clipboard.on('error', function (event) {
    battlesnake.setTooltip('Failed to copy!')
    battlesnake.hideTooltip()
  })

  battlesnake.settings = {
    BOARD_URL: '{{BOARD_URL}}',
    ENGINE_URL: '{{ENGINE_URL}}'
  }

  function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method))
  }

  $.ajaxSetup({
    beforeSend: function (xhr, settings) {
      if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}')
      }
    }
  })

  window.__battlesnake = battlesnake



/**
 * jquery.countUp
 * @author hisayoshi hayashi: HYS INC.
 * @license MIT license
 *
 */

;
(function($) {
  $.fn.countUp = function(options) {
    var start_num = Number($(this).text());
    var d = {
      start: 0,
      last: 100,
      duration: 1000,
      frame: 33,
      update: null,
      complete: null
    };
    var o = $.extend(d, options);
    var $that = $(this);

    o.last = parseInt(o.last);
    o.duration = parseInt(o.duration);
    o.frame = parseInt(o.frame);

    $that.each(function(i) {
      var $t = $(this);
      var total_frame = 0;
      var split = (o.last - o.start) / (o.duration / 33);
      var value = o.start;

      var clear = setInterval(function() {
        value = Math.round(value + split);
        $t.text(value);

        if (typeof o.update == 'function') {
          o.update.call($t, value);
        }

        if (total_frame > o.duration) {
          clearInterval(clear);
          $t.text(o.last);

          if (typeof o.complete == 'function') {
            o.complete.call($t, value);
          }
        }
        total_frame += o.frame;
      }, o.frame);
    });
    return $that;
  };
})(jQuery);
</script>
