{# QuantumPro, Demo6, ThemeP (http://www.authenticgoods.co/themes/quantum-pro/demos/demo6/) #}

{% load static %}
<!-- ================== GOOGLE FONTS ==================-->
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500" rel="stylesheet">
<!-- ======================= GLOBAL VENDOR STYLES ========================-->
<link rel="stylesheet" href="{% static 'theme/css/vendor/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'theme/vendor/metismenu/dist/metisMenu.css' %}">
<link rel="stylesheet" href="{% static 'theme/vendor/switchery-npm/index.css' %}">
<link rel="stylesheet" href="{% static 'theme/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css' %}">
<!-- ======================= LINE AWESOME ICONS ===========================-->
<link rel="stylesheet" href="{% static 'theme/css/icons/line-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'theme/css/icons/simple-line-icons.css' %}">
<!-- ======================= DRIP ICONS ===================================-->
<link rel="stylesheet" href="{% static 'theme/css/icons/dripicons.min.css' %}">
<!-- ======================= MATERIAL DESIGN ICONIC FONTS =================-->
<link rel="stylesheet" href="{% static 'theme/css/icons/material-design-iconic-font.min.css' %}">
<!-- ======================= PAGE VENDOR STYLES ===========================-->
<link rel="stylesheet" href="{% static 'theme/vendor/datatables.net-bs4/css/dataTables.bootstrap4.css' %}">
<!-- ======================= GLOBAL COMMON STYLES ============================-->
<link rel="stylesheet" href="{% static 'theme/css/common/main.bundle.css' %}">
<!-- ======================= LAYOUT STYLES ===========================-->
<link rel="stylesheet" href="{% static 'theme/css/layouts/horizontal/core/main.css' %}">
<!-- ======================= MENU TYPE ===========================-->
<link rel="stylesheet" href="{% static 'theme/css/layouts/horizontal/menu-type/auto-hide.css' %}">
<!-- ======================= THEME COLOR STYLES ===========================-->
<link rel="stylesheet" href="{% static 'theme/css/layouts/horizontal/themes/theme-p.css' %}">

<style>
  /* Resets the `padding: 0` that is introduced in the theme,
   * but isn't in the theme demo here?
   * http://www.authenticgoods.co/themes/quantum-pro/demos/demo6/
   */
  @media (max-width: 992px) {
    body.layout-horizontal .content-wrapper {
      padding: 15px 5px;
    }
  }
</style>
