{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="offset-md-1 col-md-10">
        <header class="page-header">
            <h1>Code of Conduct</h1>
        </header>

        <div class="card">
            <div class="card-body">
                <p class="card-text">
                    This code of conduct applies both within project spaces and in public spaces when an individual is
                    representing the project or its community.
                </p>
                <p class="card-text lead">
                    Be welcoming.
                </p>
                <p class="card-text">
                    The Battlesnake community welcomes and supports people of all backgrounds and identities. This
                    includes, but is not limited to, members of any race, ethnicity, culture, national origin, colour,
                    immigration status, socio-economic class, educational level, sex, sexual orientation, gender, gender
                    identity, and gender expression, age, size, family status, political beliefs, religion, and mental
                    and physical abilities.
                </p>
                <p class="card-text lead">
                    Be considerate.
                </p>
                <p class="card-text">
                    While Battlesnake is inherently competitive, it is also deeply rooted in community, collaboration,
                    and cooperation. Always consider the impact of your decisions and actions on fellow participants.
                    Remember that Battlesnake is a fun, inclusive game, and that means working with and helping
                    individuals from a variety of different backgrounds, representing a full range of skill levels.
                </p>
                <p class="card-text lead">
                    Be respectful.
                </p>
                <p class="card-text">
                    Treat everyone you encounter with courtesy and respect. We acknowledge that disagreements happen but
                    they must never turn into any form of personal attack. A productive community is one where everyone
                    feels safe and comfortable.
                </p>
                <p class="card-text lead">
                    Be thoughtful with the words you choose.
                </p>
                <p class="card-text">
                    We are a community of students and professionals, and we conduct ourselves professionally. Speak to
                    and about others with kindness. Derogatory language of any kind will not be tolerated.
                </p>
                <p class="card-text lead">
                    Be constructive and flexible.
                </p>
                <p class="card-text">
                    Disagreements, both social and technical, happen all the time and Battlesnake is no exception. It is
                    important that we resolve conflict constructively. Remember that different people have different
                    perspectives and an alternate viewpoint isn’t necessarily wrong. Instead, focus on working toward
                    compromise, so we can resolve issues cooperatively and learn from each other.
                </p>
                <p class="card-text lead">
                    Examples of unacceptable behaviour include:
                </p>
                <ul>
                    <li>Violent threats or language directed against a group or individual.</li>
                    <li>Discriminatory language or images, including terms/images that are racist,
                        sexist, misogynistic, or homophobic.</li>
                    <li>Posting or sharing sexually explicit or violent material.</li>
                    <li>Personal insults.</li>
                    <li>Unwelcome attention, sexual, physical, or otherwise.</li>
                    <li>Encouraging or advocating for any of the above behaviour.</li>
                </ul>
                <p class="card-text">
                    Battlesnake team members have the right and responsibility to remove, edit, or reject content and
                    any other material or contributions that are not aligned to this Code of Conduct.
                    By adopting this Code of Conduct, Battlesnake team members commit themselves to fairly and
                    consistently applying these principles to every aspect of Battlesnake and its communities.
                    Team and community members who do not follow or enforce this Code of Conduct may be
                    permanently removed from the Battlesnake team and/or platform.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
