{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="offset-md-1 col-md-10">
        <header class="page-header">
            <h1>Our Mission</h1>
        </header>

        <div class="card">
            <div class="card-body">
                <p class="card-text lead text-info">
                    We want to make programming fun and accessible for millions of people.
                </p>
                <p class="card-text">
                    We created Battlesnake as a way to have fun programming with friends, learn new skills and
                    technologies, and build the communities around us.
                    We firmly believe that encouraging more people to experience and
                    enjoy programming at all levels will make the world a better place.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="offset-md-1 col-md-10">
        <header class="page-header">
            <h1 class="splay-4">Our Values</h1>
        </header>

        <div class="card">
            <div class="card-body">
                <p class="card-text">
                    These values drive us towards our mission. Everything we do relates
                    directly to one or more of these core values.
                </p>
                <p class="text-primary lead">
                    Celebrate a broad range of skill levels.
                </p>
                <p class="card-text">
                    Writing a snake that performs very well should be a celebrated accomplishment. Writing your first
                    snake, no matter how simple, should be equally celebrated.
                </p>
                <p class="text-primary lead">Encourage collaboration over competition.</p>
                <p class="card-text">
                    Even though Battlesnake involves a competitive game, participants, sponsors, and volunteers are
                    working together to help each other be successful. We believe making all teams stronger makes
                    Battlesnake better.
                </p>
                <p class="text-primary lead">Teach real-world skills.</p>
                <p class="card-text">
                    When it comes to programming technologies, we work hard to ensure participants use "the real
                    thing". This includes programming languages, editors, version
                    control, platforms, libraries, etc.
                </p>
                <p class="text-primary lead">Embrace open-source software.</p>
                <p class="card-text">
                    We firmly believe in the power of open-source collaboration. All Battlesnake development is public
                    and transparent, and we encourage participants to do the same.
                </p>
                <p class="text-primary lead">Build community.</p>
                <p class="card-text">
                    We work hard to encourage and grow a large and diverse community. Anyone who wants to participate or
                    volunteer should feel welcome and supported. Anyone with ideas should feel heard and appreciated.
                </p>
                <p class="text-primary lead">Include everyone.</p>
                <p class="card-text">
                    Watching games should be exciting for everyone. Even if you don't know how to program, or don't care
                    to learn, Battlesnake games and events should be fun and exhilarating for everyone.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
